 .home{
    background-image: url("../../Assets/Images/homeImg.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
}

@media (max-width:800px) {
    
 .home{
    background-image: url("../../Assets/Images/home_imgSmallScreen.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 133vh;
    gap: 70px;
    
 }
 .home .title-home{
     margin: 45px 0;
     background-color: ;
 }
.home .btns{
    height: "22.2rem";
    display: flex;
    flex-direction: column;
    gap: 5rem;
}
}

@media (min-width:802px) {
    .home .title-home{
        width: 50%;
    }
    .home{
        height:76vh
    }

 
}
