.WhatsHot {
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 30px 52px;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.WhatsHot .slick-prev {
  left: -4rem;
}
.WhatsHot .slick-next {
  right: -2.5rem;
}
.WhatsHot .slick-prev,
.WhatsHot .slick-next {
  /* border: 1px solid blue; */
  z-index: 2;
}

.WhatsHot .slick-prev:before,
.WhatsHot .slick-next:before {
  color: #333;
  /* background-color: blue; */
  font-size: 2.5rem;
}

@media (max-width: 997px) and (min-width:837px) {
 
  .WhatsHot .carousel-items {
    min-height: 26rem;
  }
}

@media (max-width: 750px) {
  .title1 {
    height: 4rem;
  }
  .WhatsHot .carousel-items {
    min-height: 22rem;
  }
}
@media (max-width: 700px)and (min-width:630px) {
  .WhatsHot .carousel-items {
    min-height: 25rem;
  }
}
@media (max-width: 550px) {
  .title1 {
    height: 4.5rem;
  }
  .WhatsHot .carousel-items {
    min-height: 20rem;
  }
}
